<section id="goc-ft-help">
	<h2 class="outline">Help</h2>
	<div id="goc-ft-logo"></div>
	<nav role="navigation" aria-labelledby="about-legal-heading">
		<h3 id="about-legal-heading" class="outline">About and Legal</h3>
		<ul id="goc-ft-about">
			<li>
				<a target="" href="https://support.disney.com/hc/en-za">Help</a>
			</li>
			<li>
				<a target="" href="https://disneytermsofuse.com/english-south-africa/">Terms of Use</a>
			</li>
			<li>
				<a target="" href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/">Privacy Policy</a>
			</li>
			<li>
				<a target="" href="http://preferences-mgr.truste.com/?pid=disney01&amp;aid=disneyemea01&amp;type=Disneyemea">Interest-based Ads</a>
			</li>
			<li>
				<a target="" href="about-us.html">About Us</a>
			</li>
			<li>
				<a target="" href="https://www.thewaltdisneycompany.eu/">The Walt Disney Company</a>
			</li>
		</ul>
		<ul id="goc-ft-legal"></ul>
		<div id="goc-ft-copyright">
			© Disney © Disney•Pixar © &amp; ™ Lucasfilm LTD © Marvel. All Rights Reserved
		</div>
	</nav>
</section>
