
<footer>
	<h2 class="outline">Footer</h2>
	<nav id="bottomnav">
		<ul class="cols-4"></ul>
	</nav>
	<section id="utility" class=" has-search">
		<div class="divider" id="footer-divider">
			<form class="search" action='http://" search"=" ' method=" get">
				<input type="hidden" name="o" value="home">
				<div class="search-field">
					<input type="text" name="q" placeholder="Search" autocomplete="off" id="searchField_Footer">
					<span class="search-icon"></span>
				</div>
			</form>
		</div>
	</section>
</footer>
