
      <div id="takeover-styles-module-override" class=""></div>
      <div class="goc-el goc-bg-light  goc-overlay" role="region" aria-labelledby="nav-e" id="goc-menu">
         <div class="goc-bound goc-col">
            <ul id="goc-user-mobile" class="">
               <li class="goc-login goc-dropdown">
                  <span class="trigger-menu" data-event="login"><a class="goc-icn-login" href="javascript:void(0);" aria-expanded="false"><u>Sign in</u></a></span>
               </li>
               <li class="goc-logout goc-dropdown goc-expandable">
                  <a href="#" class="goc-icn-login goc-logout goc-expandable" aria-expanded="false"><u>My account</u></a>
               </li>
               <ul class="goc-dropdown menu-subsection" role="region" aria-labelledby="My-Account-control" id="My-Account-region">
                  <li class="trigger-menu" data-event="profile">
                     <a data-analytic="disid_menu" href="javascript:void(0);" rel="nofollow" aria-expanded="false"><u>Update My Account</u></a>
                  </li>
                  <li class="trigger-menu" data-event="logout">
                     <a data-analytic="disid_menu" href="javascript:void(0);" aria-expanded="false"><u>Sign out</u></a>
                  </li>
               </ul>
            </ul>
            <ul class="menu-section">
               <li class="menu-section-heading goc-expandable"><a href="movies.html" tab-index="0" aria-expanded="false" aria-controls="MOVIES-dropdown" class="goc-mobile goc-icn-0"><u>MOVIES</u></a></li>
               <ul class="goc-mobile menu-subsection" role="region" aria-labelledby="MOVIES-control" id="MOVIES-region">
                  <li class=""><a href="movies.html" class="goc-mobile" aria-expanded="false"><u>Featured</u></a></li>
                  <li class=""><a href="luca.html" class="goc-mobile" aria-expanded="false"><u>Luca</u></a></li>
                  <li class=""><a href="cruella.html" class="goc-mobile" aria-expanded="false"><u>Cruella</u></a></li>
                  <li class=""><a href="raya-and-the-last-dragon.html" class="goc-mobile" aria-expanded="false"><u>Raya</u></a></li>
                  <li class=""><a href="soul.html" class="goc-mobile" aria-expanded="false"><u>Soul</u></a></li>
                  <li class=""><a href="black-widow.html" class="goc-mobile" aria-expanded="false"><u>Black Widow</u></a></li>
               </ul>
            </ul>
            <ul class="menu-section">
            </ul>
            <ul class="menu-section">
            </ul>
            <ul class="menu-section">
            </ul>
         </div>
      </div>
      <div id="goc-body" class="goc-main-body">
         <div id="goc-mask"></div>
         <button id="goc-skip-nav" class="goc-bg-light goc-el" tabindex="1" style="visibility: visible;">Skip Navigation</button>
         <div class="goc-el goc-bg-light " id="goc-bar" role="banner">
            <div class="goc-bound" role="navigation" aria-labelledby="goc-desktop-global">
               <ul id="goc-desktop-global" class="goc-desktop-global goc-left " role="list" style="overflow: hidden;">
                  <li class="goc-desktop goc-menu goc-left-0 goc-hidden" role="listitem">
                     <a class="goc-wide-link" id="disney-image" href="index.html" aria-label="
                        Disney">
                     <img alt="Disney" src="{{base_path ~ directory}}/assets/png/disney_logo_dark%402x-45d70f7dd57b.png" class="disney-img">
                     <u>Disney</u></a>
                  </li>

                  <li class="goc-desktop bar-dropdown" role="listitem">
                     <a href="movies.html" aria-expanded="false" id="MOVIES-dropdown" aria-controls="MOVIES-dropdown" class="bar-dropdown-link bar-dropdown-0" data-analytic="1/none/item-1"><u>MOVIES</u></a>
                     <div class="bar-dropdown-container" role="region" aria-labelledby="MOVIES-dropdown" id="MOVIES-region-desktop">
                        <ul class="bar-dropdown-content">
                          {{drupal_menu('disney-main-menu')}}
                        </ul>
                     </div>
                  </li>
                  <li class="goc-desktop bar-dropdown goc-more goc-hidden" role="listitem" id="goc-bar-more-dropdown">
                     <a href="#" class="more-dropdown-link bar-dropdown-1"><u>More</u></a>
                     <div class="bar-dropdown-container" role="region" aria-labelledby="more-control" id="more-region">
                        <ul class="bar-dropdown-content" id="more-dropdown-container">
                        </ul>
                     </div>
                  </li>
               </ul>

               <ul id="goc-user" class="">
                  <li class="goc-login">
                     <span class="goc-icn-login-bar"></span>
                     <span class="login-title-link trigger-base" data-event="login" role="button" onclick="">
                     <a href="javascript:void(0);" class="login-link"><u>Sign in</u></a>
                     </span>
                  </li>
                  <li class="goc-logout goc-dropdown">
                     <span class="goc-icn-login-bar"></span>
                     <a href="#" class="login-dropdown-title-link" role="button">
                     <u class="title">My account</u>
                     <span class="arrow"></span>
                     </a>
                     <ul>
                        <li>
                           <span class="trigger-base" data-event="profile" role="button" onclick="">
                           <a class="login-dropdown-link dropdown_link" data-analytic="disid_menu" href="javascript:void(0);" rel="nofollow"><u>Update My Account</u></a>
                           </span>
                        </li>
                        <li>
                           <span class="trigger-base" data-event="logout" role="button" onclick="">
                           <a class="login-dropdown-link" data-analytic="disid_menu" href="javascript:void(0);"><u>Sign out</u></a>
                           </span>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </div>
         <div class="goc-search-overlay"></div>
         <div id="goc-nav" class="goc-el goc-bg-light ">
            <a id="goc-logo" title="Disney" href="index.html"></a>
            <span id="goc-e" role="button" title="Navigate" aria-label=""></span>
         </div>
         <script type="text/javascript">GOC.queue.push(["trigger","accept:base"]);</script>
         <div id="nav-local" class="nav-local exclude-local-chrome goc-bg-light">
            <div id="nav-pushdown"></div>
            <div class="bound">
               <button aria-controls="goc-menu" aria-expanded="false" id="nav-e" role="button" title="Navigate" aria-label=""></button>
               <a href="index.html" aria-label="Disney " title="Disney " class="nav-logo disable_image" id="nav-logo"><span></span> </a>
               <ul>
               </ul>
            </div>
         </div>
         <script src="{{base_path ~ directory}}/assets/js/application-53a1ed4232e6.js" type="text/javascript"></script>
